.navbar {
    box-shadow: 0 1px 5px 0 #00000050;
}
.navbar-brand {
    margin: 0 !important;
}
.navbar-brand img {
    height: 60px;
}
.navbar-toggler {
    border: 0;
}
.navbar-toggler:focus {
    outline: none;
}
.navbar-toggler-icon {
    font-size: 1rem;
}
.navbar-collapse {
    margin-top: 20px;
}
.youtube {
    width: 60px;
}

/* Carrossel */
.carousel-inner, .carousel-inner img {
    height: 400px;
    margin-bottom: 1px solid #000;
}

/* Footer */
footer {
    background: #00ba7c;
}
footer a, footer p, .social i {
    color: #fff;
}
.social {
    display: flex;
    justify-content: center;
}
.social a {
    padding: 10px;
    margin: 10px;
}